.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

#vol {
  height: 60px;
  width: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}


.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #5e60ce 0.36%, #84a98c 102%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover { transform: scale(1.05); }


.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.nav-menu li img { display: flex; margin-right: auto; }

.anchor-link { text-decoration: none; color: white; }


.nav-mob-close { display: none; }
.nav-mob-open { display: none; }


@media (max-width: 768px) {
  .navbar { margin: 20px 50px; }

  .nav-connect { display: none; }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
    top: 25px;
    cursor: pointer;
    z-index: 5;
    width: 34px;
    height: 34px;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    z-index: 6;
  }

  .navbar img { height: 40px; }

  /* mobile nav panel */
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;           
    height: 100%;
    z-index: 4;
    transition: right 0.5s ease;
    right: -350px;         
    padding-top: 60px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 80px;
    flex-direction: row;
    gap: 20px;
  }
}


@media (max-width: 430px) {
  .navbar { margin: 20px 20px; }

  #vol { margin-left: 0; height: 45px; }

  .nav-connect { display: none; }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 20px;
    top: 18px;
    z-index: 6;
    width: 30px;
    height: 30px;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 18px;
    right: 18px;
    width: 28px;
    height: 28px;
    z-index: 7;
  }

  .navbar img { height: 30px; }

  
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 25px;
    background-color: #1f0016;
    width: 280px;         
    height: 100%;
    z-index: 5;
    transition: right 0.5s ease;
    right: -280px;         
    padding-top: 60px;
  }

  .nav-menu li {
    font-size: 22px;
    padding-left: 60px;
    flex-direction: row;
    gap: 16px;
  }
}